    .container {
        padding-top: 50px;
        padding-bottom: 10px;
        color: #405065;
    }

    .search-corona {
        max-width: 80%;
        padding-bottom: 50px;
        margin: auto;
    }

    .formcontrol {
        box-shadow: 0 10px 40px 0 #B0C1D9;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    .formcontrol::placeholder {
        font-family: FontAwesome;
    }

    .exp-table td,
    .exp-table th {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        font-size: larger;
        color: rgb(52, 124, 226);
    }

    thead span {
        padding-left: 9%;
        padding-right: 10%;
        color: white;
        font-size: large;
    }

    thead {
        background-color: rgb(52, 124, 226);
        width: 100%;
    }

    .table-center {
        margin-right: auto;
        margin-left: auto;
        font-size: larger;
    }

    @media only screen and (max-width: 600px) {
        .table-center {
            margin-right: 1%;
            margin-left: 1%;
            font-size: small;
            border: none;
        }
    }

    @media only screen and (min-width: 600px) {
        .search-corona {
            max-width: 60%;
            padding-bottom: 50px;
            margin: auto;
        }
    }

    button {
        background-color: rgb(52, 124, 226);
        color: white;
        height: 30px;
    }

    .table-hide {
        display: none;
    }
