<mat-toolbar color="primary">
    <img src="./assets/corona.png" height="35px">
    <span class="title">Tracker</span>


</mat-toolbar>
<div class="text-center">
    <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="state">State</a></li>
        <li><a routerLink="country">Country</a></li>
        <li><a routerLink="district">District</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
<mat-toolbar color="primary" class="footer">
    <p>&copy; Kulwal.inc @2020</p>
</mat-toolbar>
